body{
    background-color: gainsboro;
}

h1{
    text-align: center;
}

.centrar{
    display: flex;
    justify-content: center;
}

.cuadro{
    padding: 5px;
    border: 1px solid black;
    display: inline-flex;
}

#boton{
    text-align: center;
}
